:root {
    --background: rgba(47, 49, 52, 0.6);
    --heading: #BE3141;
    --text: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
}

body {
    background-image: url("images/Background.svg");
    background-size: cover;
}


h1, h2 {
    font-family: 'Raleway', sans-serif;
    color: var(--heading);
}

h1 {
    font-weight: 900;
    margin-bottom: 15px;
}

h2 {
    font-weight: 600;
    margin-bottom: 10px;
}

p, hr, ul{
    margin-bottom: 10px;
}

.project {
    margin-bottom: 30px;
}

ul {
    display: inline-block;
    text-align: left;
}

.container {
    max-width: 800px;
    margin: 25px auto;
    text-align: center;
    background-color: var(--background);
    padding: 50px;
    border-radius: 1em;
}